<h2>List - <%= @list.name %></h2>

<%= render @list %>
<%= render @items = @list.items.where.not(id: nil) %>

<%= render 'items/form', list: @list, item: @item %>

<%= render 'shared/errors', object: @item %>
