<p>
    <%= item.id %> |
    <%= item.description %> |
    <%= item.completed %> |
    <%= item.list_id %> |
    <%= link_to 'Edit', edit_list_item_path(@list, item) %> |
    <%= link_to 'Delete', list_item_path(@list, item), data: { 'turbo_method': :delete, 'turbo_confirm': 'Deseja realmente apagar este item?' } %> |
    <%= link_to (item.completed ? 'Desmarcar' : 'Marcar como Concluído'), toggle_complete_list_item_path(@list, item), data: { 'turbo_method': :patch } %>
</p>
